.rotatechevron {
    animation: spin 0.2s  linear;
    transform: rotate(180deg);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg);}
} 

.rotatedchevron {
    animation: spin1 1s linear;
}

@keyframes spin1 {
    0% { transform: rotate(180deg); }
    100% { transform: rotate(0deg);}
} 