.br8{
    border-radius: 8px;
    width: 132px;
}
.detailcard{
    background-color: rgb(221, 221, 221);
    padding: 20px;
    border-radius: 25px;
    margin: 0 10px;
}
.posandhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    margin-top: 30px; */
}
.eventposters{
    display: contents;
}
.eventposters img{
    width: 70%;
    margin-bottom: 30px;
}
.infocard
{
    background: #daeaff;
    color: black;
    border-radius: 20px;
    padding: 25px;
    font-family: "Poppins", sans-serif;
}
.infocard p{
    opacity: 1;
}
