.br8{
    border-radius: 8px;
    width: 132px;
}
.detailcard{
    background-color: #00262c;
    color: white;
    padding: 20px;
    border-radius: 25px;
    margin: 0 10px;
}
.posandhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;
    margin-top: 30px; */
}
.eventposters{
    display: contents;
}
.eventposters img{
    width: 70%;
    margin-bottom: 30px;
}
.infocard
{
    background: #daeaff;
    color: black;
    border-radius: 20px;
    padding: 25px;
    font-family: "Poppins", sans-serif;
}
.infocard p{
    opacity: 1;
}
.op1
{
    opacity: 1;
}
.regbttn{
    align-items: center;
}
.regbttn h6{
    margin-right: 20px;
}
.bttn{
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
}
